.container{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "head","main","footer";
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 1fr;
  
}
.main{
  grid-area: "main";
  background: lavender;
  margin-top: 2px;
}
